<!-- header.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Blogs</title>
  </head>
  <header>
    <nav class="navbar">
      <div class="logo">
        <img src="/image/logo.jpg" alt="logo" />
        <h3>Bloggers</h3>
      </div>
      <ul class="nav-links">
        <li><a href="/home">Home</a></li>
        <li><a href="/create">Create</a></li>
        <li><a href="/update">Update</a></li>
        <li><a href="/delete">Delete</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main class="container">
